<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="openarm_robot_gz"
    params="arm_type
            joint_limits
            kinematics
            kinematics_link
            kinematics_offset
            inertials
            body_type
            body_inertials
            body_kinematics
            body_kinematics_link
            bimanual:=true
            right_arm_base_xyz:='0 0 0'
            left_arm_base_xyz:='0 0 0'
            right_arm_base_rpy:='0 0 0'
            left_arm_base_rpy:='0 0 0'">

    <xacro:include filename="$(find openarm_description)/urdf/arm/openarm_macro.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/arm/openarm_arm.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/body/openarm_body_macro.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/body/openarm_body.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/ee/openarm_hand.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/ee/openarm_hand_macro.xacro"/>
    <xacro:include filename="$(find openarm_description)/urdf/ee/openarm_hand_arguments.xacro"/>

    <xacro:openarm_body
      body_type="${body_type}"
      body_prefix=""
      no_prefix="false"
      description_pkg="openarm_description"
      connected_to="world"
      xyz="0 0 0"
      rpy="0 0 0"
      inertials="${body_inertials}"
      kinematics="${body_kinematics}"
      kinematics_link="${body_kinematics_link}"/>

    <link name="realsense_d435_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.072"/>
        <inertia ixx="0.00002" ixy="0.0" ixz="0.0"
                 iyy="0.00002" iyz="0.0"
                 izz="0.00002"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.090 0.025"/>
        </geometry>
        <material name="realsense_d435_dark_gray">
          <color rgba="0.08 0.08 0.08 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="realsense_d435_mount_joint" type="fixed">
      <parent link="openarm_body_link0"/>
      <child link="realsense_d435_link"/>
      <origin xyz="0.120 0 0.845" rpy="0 0.75 0"/>
    </joint>

    <link name="realsense_d435_color_optical_frame"/>
    <joint name="realsense_d435_color_optical_joint" type="fixed">
      <parent link="realsense_d435_link"/>
      <child link="realsense_d435_color_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
    </joint>

    <link name="realsense_d435_depth_optical_frame"/>
    <joint name="realsense_d435_depth_optical_joint" type="fixed">
      <parent link="realsense_d435_color_optical_frame"/>
      <child link="realsense_d435_depth_optical_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="realsense_d435_link">
      <sensor name="realsense_d435_rgbd" type="rgbd_camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>15</update_rate>
        <topic>/realsense_d435</topic>
        <gz_frame_id>realsense_d435_color_optical_frame</gz_frame_id>
        <camera name="realsense_d435">
          <camera_info_topic>/realsense_d435/camera_info</camera_info_topic>
          <horizontal_fov>1.2112585</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.002</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

    <xacro:openarm_arm
      arm_type="${arm_type}"
      arm_prefix="left_"
      no_prefix="false"
      description_pkg="openarm_description"
      connected_to="openarm_body_link0"
      xyz="${left_arm_base_xyz}"
      rpy="${left_arm_base_rpy}"
      joint_limits="${joint_limits}"
      inertials="${inertials}"
      kinematics="${kinematics}"
      kinematics_link="${kinematics_link}"
      kinematics_offset="${kinematics_offset}"/>

    <xacro:openarm_arm
      arm_type="${arm_type}"
      arm_prefix="right_"
      no_prefix="false"
      description_pkg="openarm_description"
      connected_to="openarm_body_link0"
      xyz="${right_arm_base_xyz}"
      rpy="${right_arm_base_rpy}"
      joint_limits="${joint_limits}"
      inertials="${inertials}"
      kinematics="${kinematics}"
      kinematics_link="${kinematics_link}"
      kinematics_offset="${kinematics_offset}"/>

    <xacro:openarm_hand
      connected_to="openarm_left_link7"
      arm_type="${arm_type}"
      arm_prefix="left_"
      ee_type="openarm_hand"
      ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
      ee_inertials="${xacro.load_yaml('$(find openarm_gazebo)/config/hand/openarm_hand/inertials.yaml')}"
      rpy_ee="$(arg rpy_ee)"
      xyz_ee="$(arg xyz_ee)"
      tcp_xyz="$(arg tcp_xyz)"
      tcp_rpy="$(arg tcp_rpy)"
      description_pkg="openarm_description"/>

    <xacro:openarm_hand
      connected_to="openarm_right_link7"
      arm_type="${arm_type}"
      arm_prefix="right_"
      ee_type="openarm_hand"
      ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
      ee_inertials="${xacro.load_yaml('$(find openarm_gazebo)/config/hand/openarm_hand/inertials.yaml')}"
      rpy_ee="$(arg rpy_ee)"
      xyz_ee="$(arg xyz_ee)"
      tcp_xyz="$(arg tcp_xyz)"
      tcp_rpy="$(arg tcp_rpy)"
      description_pkg="openarm_description"/>

    <gazebo reference="openarm_left_left_finger">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <maxVel>0.01</maxVel>
      <minDepth>0.002</minDepth>
    </gazebo>
    <gazebo reference="openarm_left_right_finger">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <maxVel>0.01</maxVel>
      <minDepth>0.002</minDepth>
    </gazebo>
    <gazebo reference="openarm_right_left_finger">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <maxVel>0.01</maxVel>
      <minDepth>0.002</minDepth>
    </gazebo>
    <gazebo reference="openarm_right_right_finger">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <maxVel>0.01</maxVel>
      <minDepth>0.002</minDepth>
    </gazebo>

  </xacro:macro>
</robot>
