<?xml version="1.0"?>
<model>
  <name>floor_grid</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Stephen Kong</name>
    <email>kong@pinklab.art</email>
  </author>

  <description>
    Cafe floor 19.55 x 12.50 m with light gray dotted grid PBR texture.
  </description>
</model>
