<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>bonsai_tree</name>
  <version>1.0.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <description>moca cafe small bonsai/potted tree decoration. ceramic pot + soil + trunk + 3 foliage clusters. height ~0.50m. floor-standing or table-top. all primitives.</description>
</model>
